Body{
    width: 100vw;
    background-color: beige;
}

img.App-logo{
    height: 70px;
    width: 100px;
  }

.HomePage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}