Body{
    max-width: 100vw;
    /* background-color: beige; */
}

img.App-logo{
    height: 70px;
    width: 100px;
  }

.HomePage{
    display: block;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

Footer{
    color: aliceblue;
    background-color: rgb(63, 63, 63);
}

.Products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.MagazineCover{
    display: block;
    height: 65vh;
}

.TestemonialCards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90vw;
}

.TestimonialPicture{
    height: 150px;
    width: 150px;
}

.WinnersPage{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.WinnerBannerBox{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.WinnerBanner{
    height: 500px;
    width: 96vw;
}
.JackpotJournal, .Up4Grabs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.JackpotInfo, .Up4GrabsInfo{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.JackpotText, .Up4GrabsText{
    justify-content: space-evenly;
    width: 25vw;
    display: flex;
    flex-direction: column;
}